* {
  font-family: "Montserrat", sans-serif;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  background-color: #000000;
}
h1 {
  color: black;
  font-size: 50px;
  font-weight: 500;
  height: fit-content;
  margin: 0;
}
.main-container {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  border-radius: 40px;
  border: rgb(97, 97, 97) solid 10px;
  height: 80vh;
  width: 70vw;
  background-color: #f5f5f5;
  overflow: hidden;
}
.sidebar-div {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  height: 100%;
  margin: 20px;
}
.sidebar {
  max-width: fit-content;
  height: 95%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;
  border-radius: 15px;
  width: 8vh;
  background-color: #3d3d3d;
}
.sidebar-icons,
.sidebar-icons-top,
.sidebar-icons-bottom {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 1 1 0;
  background-color: black;
  border-radius: 15px;
  width: 8vh;
}
.sidebar-icons-bottom {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  display: flex;
  justify-content: flex-end;
}
.sidebar-icons {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  display: flex;
  justify-content: flex-start;
}
.icon {
  width: 24px;
  height: 24px;
  display: block;
  margin: 1.2rem auto;
  object-fit: contain;
}
.icon.message {
  transform: scale(1.4);
  transform-origin: center;
}
.sidebar-icons-middle {
  display: flex;
  flex-direction: column;
  margin: 0;
  width: 100%;
  background-color: #3d3d3d;
}
/*------------------------------------------------*/
.Header {
  display: flex;
  flex: 1;
  align-self: flex-start;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
.search-bar {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 5px;
}
.search-bar p {
  color: rgb(145, 145, 145);
  font-size: small;
}
.header-misc {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 1.5rem;
}
.profile {
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  border-radius: 50px;
  background-color: rgb(221, 221, 221);
}
.profile-pic {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  border: #383838 solid 2px;
  margin: 8px 8px 8px 0;
}
.profile .dots {
  margin: 8px 5px 8px 8px;
  transform: scale(1.3);
  cursor: pointer;
}
/*------------------------------------------------*/
.main-content {
  width: 100%;
}
.main-middle {
  display: flex;
  flex-direction: row;
  gap: 30px;
  width: 100%;
}
.numbers {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  margin-left: 20px;
}
.numbers-downloads,
.numbers-liveorders {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  border: #dbdbdb solid 2px;
  border-radius: 30px;
  min-width: 18%;
  flex-direction: column;
  height: fit-content;
  gap: 10px;
  padding: 20px;
}
.numbers-downloads h1,
.numbers-liveorders h1 {
  font-size: 35px;
}
.numbers-downloads-top,
.numbers-liveorders-top {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
}
.downloads-percentage,
.liveorders-percentage {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background-color: #e1e1e1;
  border-radius: 50px;
}
.downloads-icon,
.liveorders-icon {
  width: 16px;
  height: 16px;
  object-fit: contain;
  margin: 8px 8px 8px 2px;
}
.downloads-percentage p,
.liveorders-percentage p {
  margin: 8px 2px 8px 8px;
  font-size: x-small;
  font-weight: 600;
}
.numbers-downloads-top > p,
.numbers-liveorders-top > p {
  font-size: 9px;
  font-weight: 500;
  color: #b0b0b0;
}
.colored-box {
  background-color: rgb(226, 205, 255);
  border-radius: 25px;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  width: 620px;
  overflow: hidden;
}
.colored-box-left {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 10px;
  justify-content: center;
  padding: 40px;
}
.colored-box-left-top {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.colored-box-left-top h1 {
  font-size: 40px;
}
.colored-box-left-top p {
  font-size: 14px;
  color: rgb(80, 80, 80);
  margin-top: -10px;
}
.colored-box-left > p {
  width: fit-content;
  border-radius: 30px;
  color: rgb(0, 0, 0);
  background-color: white;
  padding: 18px 20px;
  font-weight: 600;
  font-size: small;
}
.colored-box-right {
  width: 40%;
  position: relative;
}
.mainperson-image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: bottom;
}
