* {
  font-family: "Montserrat", sans-serif;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  background-color: #000000;
}
h1 {
  color: black;
  font-size: 50px;
  font-weight: 500;
}
.main-container {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  border-radius: 40px;
  border: rgb(97, 97, 97) solid 10px;
  height: 80vh;
  width: 70vw;
  background-color: #f5f5f5;
  overflow: hidden;
}
.sidebar-div {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  height: 100%;
  margin: 20px;
}
.sidebar {
  max-width: fit-content;
  height: 95%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;
  border-radius: 15px;
  width: 8vh;
  background-color: #1b1b1b;
}
.sidebar-icons,
.sidebar-icons-top,
.sidebar-icons-bottom {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 1 1 0;
  background-color: black;
  border-radius: 15px;
  width: 8vh;
}
.sidebar-icons-bottom {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  display: flex;
  justify-content: flex-end;
}
.sidebar-icons {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  display: flex;
  justify-content: flex-start;
}
.icon {
  width: 24px;
  height: 24px;
  display: block;
  margin: 1.5rem auto;
  object-fit: contain;
}
.icon.message {
  transform: scale(1.4);
  transform-origin: center;
}
.sidebar-icons-middle {
  display: flex;
  flex-direction: column;
  margin: 0;
  width: 100%;
  background-color: #1b1b1b;
}
/*------------------------------------------------*/
.Header {
  display: flex;
  flex: 1;
  align-self: flex-start;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
.search-bar {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 5px;
}
.search-bar p {
  color: rgb(145, 145, 145);
}
.header-misc {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 1.5rem;
}
.profile {
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  border-radius: 50px;
  background-color: rgb(221, 221, 221);
}
.profile-pic {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  border: #383838 solid 2px;
  margin: 8px 8px 8px 0;
}
.profile .dots {
  margin: 8px 5px 8px 8px;
  transform: scale(1.3);
  cursor: pointer;
}
/*------------------------------------------------*/
